ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }
  li a {

      display: block;
      padding: 10px;
      background-color: #dddddd;
    }

    .shaded-box {
      background-color: tan;
      padding: 50px;
      margin-left: 1in;
      display: inline-block;
      color: brown;
    }